.navbar {
    background-color: #333;
    overflow: hidden;
    text-align: center;
}

.navbar a {
    display: inline-block;
    color: rgb(0, 255, 0);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: rgb(0, 255, 0);
    color: black;
}

.footer  {
    background-color: #333;
    color: rgb(0, 255, 0);
    text-align :center
}

* {
    font-family: 'Roboto', sans-serif;
}

a {
    color: #ffffff; 
}

a:hover {
    color: rgb(0, 255, 0);
}